# vscode
.vscode

# visual studio
/out
.vs

# python caches
__pycache__
.mypy_cache

# build directories
/build*

# release builds
/ssimp_release

# conan presets
/CMakeUserPresets.json

# temporary testing folders
tmp

# inline configs file
src/application/managers/inlined_configs.hpp
src/application/managers/inlined_licenses.hpp
